.devices-container {
    margin-top: 15rem;
    text-align: center;
}

.devices-container__title {
    color: var(--Dark-Grayish-Blue);
}

.devices-container__text {
    color: var(--Grayish-Blue);
}

@media screen and (max-width: 440px) {
    .devices-container__image {
        width: 100%;
    }
}