.download-container {
    margin-top: 10rem;
    text-align: center;
}

.download__title {
    color: var(--Dark-Grayish-Blue);
}

.download__text {
    color: var(--Grayish-Blue);
    margin-bottom: 3rem;
}

.download__link {
    text-decoration: none;
    margin-right: 1.5rem;
    background-color: var(--Strong-Cyan);
    color: white;
    padding: .7rem 2rem;;
    border-radius: 25px;

}

.download__link--blue {
    text-decoration: none;
    margin-right: 1.5rem;
    background-color: var( --Light-Blue);
    color: white;
    padding: .7rem 2rem;;
    border-radius: 25px;
}

.download__link:active {
    background-color: hsla(171, 66%, 44%, 0.715);
}

.download__link--blue:active {
    background-color: hsla(233, 100%, 69%, 0.715);
}

@media screen and (max-width: 440px) {
    .download__link, .download__link--blue {
        display: block;
        margin-bottom: 1rem;
        margin-left: 1.5rem;
    }
}